site_name: Data Honor
site_url: https://datahonor.com/blog
site_author: Xiangzhuang Shen
site_description: >-
  Xiangzhuang Shen's blog
docs_dir: docs/blog

repo_name: Xiangzhuang Shen's Blog
repo_url: https://github.com/shenxiangzhuang/shenxiangzhuang.github.io
copyright: Copyright &copy; 2017 - 2025 Xiangzhuang Shen

theme:
  name: material
  favicon: assets/logo/glimpse-ai-logo-small.png
  custom_dir: docs/templates
  icon:
    logo: material/state-machine
    repo: fontawesome/brands/github
  language: zh
  static_templates:
    - 404.html
  include_search_page: false
  search_index_only: true

  features:
    - content.action.edit
    - content.action.view
    - announce.dismiss
    - content.code.annotate
    - content.tabs.link
    - content.tooltips
    - header.autohide
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.indexes
    - navigation.prune
    - navigation.sections
    - navigation.top
    - search.highlight
    - search.share
    - search.suggest
    - toc.follow
    # - toc.integrate
    - content.code.annotate

  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: deep purple
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: cyan
      accent: deep purple
      toggle:
        icon: material/weather-night
        name: Switch to light mode

  font:
    text: Roboto
    code: Roboto Mono

markdown_extensions:
  - tables
  - neoteroi.timeline
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - md_in_html
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true
  - toc:
      permalink: true
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      linenums_style: pymdownx.inline
  - pymdownx.superfences
  - pymdownx.inlinehilite
  - pymdownx.details
  - pymdownx.snippets:
      url_download: true
      url_max_size: 33554432
  - pymdownx.tabbed:
      alternate_style: true
  - abbr
  - admonition
  - footnotes

extra_css:
  - css/neoteroi-mkdocs.css

extra_javascript:
  - javascripts/mathjax.js
  - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6

plugins:
  - autorefs
  - mkdocs-pdf
  - rss:
      match_path: posts/.*
      date_from_meta:
        as_creation: date
      categories:
        - categories
        - tags
  - blog:
      blog_dir: .
      post_dir: posts
      draft: true
  - search:
      lang: zh
  - git-revision-date-localized:
      enable_creation_date: true
  - git-committers:
      repository: shenxiangzhuang/shenxiangzhuang.github.io
      branch: master
      #      cache_dir: docs/assets/git-committers
      token: !!python/object/apply:os.getenv ["MKDOCS_GIT_COMMITTERS_APIKEY"]

  - minify:
      minify_html: true
  - bibtex:
      bib_file: "docs/references.bib"
      csl_file: "docs/ieee.csl"
      cite_inline: false

extra:
  consent:
    title: Cookie consent
    description: >-
      We use cookies to recognize your repeated visits and preferences, as well
      as to measure the effectiveness of our documentation and whether users
      find what they're searching for. With your consent, you're helping us to
      make our documentation better.

  analytics:
    provider: google
    property: G-KEEHE7VY5K
  #    feedback:
  #      title: Was this page helpful?
  #      ratings:
  #        - icon: material/emoticon-happy-outline
  #          name: This page was helpful
  #          data: 1
  #          note: >-
  #            Thanks for your feedback!
  #        - icon: material/emoticon-sad-outline
  #          name: This page could be improved
  #          data: 0
  #          note: >-
  #            Thanks for your feedback! Help us improve this page by
  #            using our <a href="..." target="_blank" rel="noopener">feedback form</a>.

  social:
    - icon: material/rss
      link: https://datahonor.com/blog/feed_rss_created

    - icon: fontawesome/brands/github
      link: https://github.com/shenxiangzhuang

    - icon: fontawesome/brands/x-twitter
      link: https://twitter.com/MathewShen42

    - icon: fontawesome/brands/linkedin
      link: https://linkedin.com/in/mathewshen

    - icon: material/email
      link: mailto:datahonor@gmail.com

    - icon: simple/wechat
      link: https://mp.weixin.qq.com/s/wOqp6nHBAenK9wP2vIUS9g

    - icon: simple/zhihu
      link: https://www.zhihu.com/people/shen-xiang-zhuang



nav:
  - Blog: index.md
